
<form #form="ngForm"  autocomplete="off">
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px;text-align: center; margin:auto; padding:5%">
        <mat-card>
            <h2 class="w3-wide"><b>Edit Order</b></h2>
            <p class="w3-opacity"><i>Enter Order's Updated Details</i></p>
            <div>
                <mat-form-field hidden>
                    <input name="OrderID" #OrderID="ngModel" [(ngModel)]="service.formDataOrder.OrderID" matInput>
                </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline">
                  <mat-label>Customer Details</mat-label>
                  <mat-select name="CustomerID" #CustomerID="ngModel" [(ngModel)]="service.formDataOrder.CustomerID" >
                      <mat-option  *ngFor="let obj of service.listCustomer" [value]="obj.CustomerID">{{obj.Name}} {{obj.Surname}}</mat-option>
                  </mat-select>
              </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Employee Details</mat-label>
                    <mat-select placeholder="Select Employee" required name="UserID" #UserID="ngModel" [(ngModel)]="service.formDataOrder.UserID" >
                        <mat-option  *ngFor="let obj of service.listUser" [value]="obj.UserID">{{obj.Name}} {{obj.Surname}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline">
                  <mat-label>Product Details</mat-label>
                  <mat-select placeholder="Select Product" required name="ProductID" #ProductID="ngModel" [(ngModel)]="service.formDataOrder.ProductID" >
                      <mat-option  *ngFor="let obj of service.listProduct" [value]="obj.ProductID">{{obj.ProductName}} - R{{obj.Price}}</mat-option>
                  </mat-select>
              </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Date</mat-label>
                    <input name="OrderDate" type="date" #OrderDate="ngModel" [(ngModel)]="service.formDataOrder.OrderDate" matInput  required>
                  </mat-form-field>
            </div>
            <div>
                <button style="text-align: center; font-size: medium; margin:20px"   routerLink='/Order' mat-raised-button  type="button" >Back</button>
                <button style="text-align: center; font-size: medium; margin:20px"  routerLink='/EditOrder' [disabled]="!form.form.valid"  routerLinkActive="active-link" mat-raised-button  (click)="onSubmit(form)" type="button" >Add Updated Order Details</button>
            </div>
        </mat-card>
    </div>
</form>



