
<form #form="ngForm"  autocomplete="off">
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px;text-align: center; margin:auto; padding:5%">
      <mat-card>
          <h2 class="w3-wide"><b>Edit Supplier</b></h2>
          <p class="w3-opacity"><i>Enter Supplier's Updated Details</i></p>
            <div>
                <mat-form-field hidden appearance="outline">
                    <input required name="SupplierID" #SupplierID="ngModel" [(ngModel)]="service.formDataSupplier.SupplierID" matInput >
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Supplier Name</mat-label>
                    <input required name="SupplierName" #SupplierName="ngModel" [(ngModel)]="service.formDataSupplier.SupplierName" matInput  >
                  </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Contact Name</mat-label>
                    <input required name="ContactPersonName" #ContactPersonName="ngModel" [(ngModel)]="service.formDataSupplier.ContactPersonName" matInput  >
                  </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline">
                  <mat-label>Contact Surname</mat-label>
                  <input required name="ContactPersonSurname" #ContactPersonSurname="ngModel" [(ngModel)]="service.formDataSupplier.ContactPersonSurname"  matInput >
                </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline">
                  <mat-label>Contact Cell</mat-label>
                  <input required name="ContactPersonCell" #ContactPersonCell="ngModel" [(ngModel)]="service.formDataSupplier.ContactPersonCell" matInput >
                </mat-form-field>
            </div>
            <div>
            <mat-form-field appearance="outline">
                <mat-label>Contact Email</mat-label>
                <input  required name="ContactPersonEmail" #ContactPersonEmail="ngModel" [(ngModel)]="service.formDataSupplier.ContactPersonEmail" matInput >
              </mat-form-field>
             </div>
          <div>
              <button style="text-align: center; font-size: medium; margin:20px"   routerLink='/Supplier' mat-raised-button  type="button" >Back</button>
              <button style="text-align: center; font-size: medium; margin:20px"  routerLink='/EditSupplier' routerLinkActive="active-link" [disabled]="!form.form.valid" mat-raised-button  (click)="onSubmit(form)" type="button" >Update Supplier Details</button>
          </div>
      </mat-card>
  </div>
</form>



