<!DOCTYPE html>
<html lang="en">
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
    
    <div class="w3-container w3-content w3-center w3-padding-64" style="width:100%" >
        <mat-card style="width:100%">
        <h2 class="w3-wide">Alex Fernandes (17039917)</h2>
        <p class="w3-opacity"><i>Homework Assignment 2</i></p> <a style="position: absolute; top: 0%; left: 0%;" >  <img alt="Logo" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/corporate-company-logo-design-template-2402e0689677112e3b2b6e0f399d7dc3_screen.jpg?ts=1561532453" width="200" height="200"></a>
        <button style="text-align: center; font-size: larger; margin:20px" routerLink='/Login' mat-raised-button  type="submit" >Click here to begin</button>
        <div class="w3-row w3-padding-32">
          <div class="w3-third" style="text-align : left; width:50%">
            <p><strong>Part 1</strong></p>
            <ul>
                <li> Create private git repositories for an api and a frontend in GitLab or BitBucket. </li>
                <li> Create only the frontend components, that you can use to CRUD one table once we create the link (part 3). </li>
                <li> Push everything onto your repos, last weeks assignment as the API and this week as the frontend. </li>                  
            </ul>
          </div>    
          <div class="w3-third" style="text-align : left; width:50%">
            <p><strong>Part 2</strong></p>
            <ul>
                <li>  Extend your database to at least 5 tables.</li>
                <li>  Create angular components that you will use to gather data from the user to CRUD all data in your database. </li>
                <li>  Ensure that you also have a login and register page. </li>         
                <li>   Push everything onto your repos, one for the API and one for the frontend. </li>                  
            </ul>
          </div>    
          <div class="w3-third" style="text-align : left; width:50%">
            <p><strong>Part 3</strong></p>
            <ul>
                <li>  Create API endpoints that you can use to CRUD all the data in your database.</li>
                <li>  Create services in your angular application that will call all the APIs. </li>
                <li>  Link the services to the relevant components. </li>         
                <li>  Ensure that everything works, i.e. the frontend can be used to CRUD database data.</li>          
                <li>  Push everything onto your repo.</li>             
            </ul>
          </div>    
          <div class="w3-third" style="text-align : left; width:50%">
            <p><strong>Part 4</strong></p>
            <ul>                 
                <li>   Create API endpoints to register and to login. </li>    
                <li>   Create the related database tables.</li>
                <li>   Add an authentication class to your api that will validate tokens.</li>    
                <li>   Change all your api endpoints to expect tokens and validate the tokens using to class.</li>
                <li>   On the front, register should create a new user in your database.</li>
                <li>   Login should call the login api endpoint that should return a token. </li>         
                <li>   Use the token with every API call.</li>          
                <li>   Push everything onto your repo.</li>                 
            </ul>
          </div>    
        </div>
        
    </mat-card>
      </div>
   
</body>
</html>
