

<form *ngIf="!service.User"  #form="ngForm">
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px;text-align: center; margin:auto; padding:5%">
        <mat-card>
            <h2 class="w3-wide"><b> Login</b></h2>
            <p class="w3-opacity"><i>Enter your login credentials</i></p>
    <div>
        <mat-form-field appearance="outline" style="margin:20px; width:500px">
          <mat-label>Email Address</mat-label>
          <input  name="UserEmail" #UserEmail="ngModel" [(ngModel)]="service.formDataLogin.UserEmail" matInput placeholder="pat@example.com"   autocomplete="off" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
    <div>
    <mat-form-field appearance="outline" style="width:500px">
      <mat-label>Password</mat-label>
        <input name="UserPassword" #UserPassword="ngModel" [(ngModel)]="service.formDataLogin.UserPassword" matInput [type]="hide ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
</div>
    <div>
      <button style="text-align: center; font-size: medium; margin:20px" mat-raised-button  routerLink="/Home" type="button"  >Back</button>
      <button style="text-align: center; font-size: medium; margin:20px" mat-raised-button routerLink="/Login" (click)="onSubmit(form)" type="button" [disabled]="form.invalid" >Login</button>
    </div>
    <a style="color:blue" routerLink='/Register'>Dont have an account? Click here</a>
</mat-card>
</div>
  </form>

  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px;text-align: center; margin:auto; padding:5%">
  <div *ngIf="loggedin">
  </div>
  </div>
